@font-face {
    font-family: "EB-Garamond";
    src: url('../fonts/EB_Garamond/EBGaramond08-Regular.woff') format('woff');
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

@media screen and (min-width: 1400px) and (orientation: landscape) {
        div#header {
            border-bottom: 3px dotted black;
            margin-bottom: 47.25px;
            padding: 15px 0px 15px 0px;
        }

        div#header #navigation {
            text-align: left;
        }

        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 25.3px;
            font-weight: normal;
            margin-left: 17px;
            text-decoration: none;
            text-transform: lowercase;
        }

        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }     

        body {
            font-family: "EB-Garamond";
            color: black;
            font-size: 25.3px;
            margin: 0px auto 0px auto;
            width: 844px;
            list-style-type: none;
        }
        div#footer {
            border-top: solid 2px black;
            color: #555;
            font-size: 19.125px;
            margin-top: 42px;
            padding: 15px 0 15px 0;
            text-align: right;
        }

        h1 {
            font-size: 38.25px;
        }

        h2 {
            font-size: 31.5px;
        }

        div.sourceCode {
            font-size: 22.5px;
        }

        code {
            font-size: 22.5px;
        }
}

@media screen and (max-width: 1399px) and (orientation: landscape) {
        div#header {
            border-bottom: 2px dotted black;
            margin-bottom: 30px;
            padding: 10px 0px 10px 0px;
        }

        div#header #navigation {
            text-align: left;
        }

        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 18px;
            font-weight: normal;
            margin-left: 12px;
            text-decoration: none;
            text-transform: lowercase;
        }

        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }

        body {
            font-family: "EB-Garamond";
            color: black;
            font-size: 18px;
            margin: 0px auto 0px auto;
            width: 600px;
            list-style-type: none;
        }
        div#footer {
            border-top: solid 2px black;
            color: #555;
            font-size: 13.5px;
            margin-top: 30px;
            padding: 12px 0px 12px 0px;
            text-align: right;
        }

        h1 {
            font-size: 27px;
        }

        h2 {
            font-size: 22.5px;
        }
        
        div.sourceCode {
            font-size: 16px;
        }

        code {
            font-size: 16px;
        }
}

@media (orientation: portrait) { 
        html * {
        max-height:1000000px;
        }

        div#content {
            width: 92%;
            margin: 0 auto 0 auto;
        }

        body {
            font-family: "EB-Garamond";
            color: black;
            font-size: 49px;
            margin: 0 auto 0 auto;
            width: auto;
            list-style-type: none;
        }

        div#header {
            border-bottom: 6px dotted black;
            width: 61%;
            margin: 100px auto 62px auto;
            padding: 10px 0 20px 0;
        }

        div#header #navigation {
            text-align: left;
        }

        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 49px;
            font-weight: normal;
            margin-left: 12px;
            text-decoration: none;
            text-transform: lowercase;
        }

        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }  

        div#footer {
            border-top: solid 2px black;
            color: #555;
            width: 92%;
            font-size: 12px;
            margin: 30px auto 0 auto;
            padding: 12px 0px 12px 0px;
            text-align: right;
        }

        h1 {
            font-size: 59px;
        }

        h2 {
            font-size: 35px;
        }

        div.sourceCode {
            font-size: 43.5px;
        }

        code {
            font-size: 43.5px;
        }
}
