@font-face {
    font-family: "EB-Garamond";
    src: url('../fonts/EB_Garamond/EBGaramond12-Regular.woff') format('woff');
}

a {
    color: #000000;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

#landing ul#links li a:hover {
    text-decoration: none;
}

@media screen and (min-width: 1400px) {
        h1 {
            font-family: "EB-Garamond";
            font-size: 40px;
            margin: 0 0 6px -150px;
        }

        #landing ul#links {
            font-family: "EB-Garamond";
            font-size: 25px;
            list-style-type: none; 
            padding-left: 0;
            margin: 0 0 20px -150px;
        }

        #landing ul#links li#contact {
            font-family: courier;
            font-size: 20px;
            color: #707070;
            margin: 0;
            padding-top: 5px;
        }
        #landing {
            max-width: 700px;
            margin: 175px auto;
        }
        #landing ul#links li {
            list-style-type: none; 
            padding-right: 25px;
            padding-bottom: 7px;
        }
        #landing .section ul {
            padding-left: 15px;
        }
}

@media screen and (max-width: 1399px) {
        h1 {
            font-family: "EB-Garamond";
            font-size: 28px;
            margin: 0 0 5px 0;
        }

        #landing ul#links {
            font-family: "EB-Garamond";
            font-size: 18px;
            list-style-type: none; 
            padding-left: 0;
            margin: 0 0 20px 0;
        }

        #landing ul#links li#contact {
            font-family: courier;
            font-size: 14px;
            color: #707070;
            margin: 0;
            padding-top: 5px;
        }
        #landing {
            max-width: 700px;
            margin: 119px auto;
        }
        #landing ul#links li {
            list-style-type: none; 
            padding-right: 25px;
            padding-bottom: 4px;
        }
        #landing .section ul {
            padding-left: 15px;
        }
}

@media (orientation: portrait) {
        h1 {
            font-family: "EB-Garamond";
            font-size: 60px;
            margin: 0 0 5px 0;
        }

        #landing ul#links {
            font-family: "EB-Garamond";
            font-size: 39px;
            list-style-type: none; 
            padding-left: 0;
            margin: 0 0 20px 0;
        }

        #landing ul#links li#contact {
            font-family: courier;
            font-size: 30px;
            color: #707070;
            margin: 0;
            padding-top: 5px;
        }
        #landing {
            max-width: 700px;
            margin: 119px auto;
        }
        #landing ul#links li {
            list-style-type: none; 
            padding-right: 25px;
            padding-bottom: 4px;
        }
        #landing .section ul {
            padding-left: 15px;
        }
}

