@font-face {
    font-family: "EB-Garamond";
    src: url('../fonts/EB_Garamond/EBGaramond08-Regular.woff') format('woff');
}

a {
    color: #000000;
}
a:hover {
    color: #000000;
    text-decoration: none;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin-top: -1em;
    margin-bottom: 2em;
}

:root {
    /* 43.92vw ~ 600px/1366px, which was the original width
       I'd used for the main section  */
    --mainWidth: 43.9238653vw;
    
    /* 47.76vw = 650px/1366px, leaves ~50px for the
       back button */
    --width: 47.5841874vw;

    /* calculation is equivalent to:
    --sideWidth: 3.6603221vw; */
    --sideWidth: calc(var(--width) - var(--mainWidth));
    
    /* shift elements to account for sidebar width */
    --leftShift: calc(-1 * var(--sideWidth) / 2);
}

.flex-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* 100% viewport width plus half sidebar width (in pct) */
    width: calc(100 + var(--leftShift));
    height: 100vh;
    margin-left: calc(2 * var(--leftShift));
    flex-wrap: nowrap;
    overflow: auto;
}
.flex-item-side {
    min-width: var(--sideWidth);
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    padding-right: 0.25em;
}
.flex-item-main {
    width: var(--mainWidth);
    height: 100%;
}
.h-full {  height: 100% }
.w-full {  width: 100% }
.baseline {
    display: inline-block;
    text-align: left;
}
.flex-img {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.wah {
    font-size: 0px;
}

.back {
    font-style: italic;
    text-align: center;
}
.back img {
    object-fit: contain;
    height: 1em;
    width: 1em;
}
.back .caption {
    padding-bottom: 1.20em;
    margin-top: -0.20em;
}

.nonPost {
    width: var(--mainWidth);
}

body p {
    margin-top: 0;
}
body h3 {
    margin-bottom: 0.5em; 
}


@media screen and (min-width: 1400px) and (orientation: landscape) {
        div#header {
            width: var(--mainWidth);
            border-bottom: 3px dotted black;
            margin-bottom: 47.25px;
            padding: 15px 0px 15px 0px;
        }
        div#header #navigation {
            text-align: left;
        }
        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 25.3px;
            font-weight: normal;
            margin-left: 17px;
            text-decoration: none;
            text-transform: lowercase;
        }
        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }     
        body {
            font-family: "EB-Garamond";
            color: black;
            font-size: 25.3px;
            margin: 0px auto 0px auto;
            justify-content: center;
            width: 100%;
            height: 100%;
            list-style-type: none;
        }
        div#footer {
            border-top: solid 2px black;
            color: #555;
            font-size: 19.125px;
            margin-top: 42px;
            padding: 15px 0 15px 0;
            text-align: right;
        }
        h1 {
            font-size: 55.69px;
        }
        h2 {
            font-size: 38.25px;
        }
        h3 {
            font-size: 30.813px;
        }
        h4 {
            font-size: 27.648;
        }
        div.sourceCode {
            font-size: 22.5px;
        }
        code {
            font-size: 22.5px;
        }
        .back {
            font-size: 22px;
        }
        div.info {
            font-size: 22px;
        }
}


@media screen and (max-width: 1399px) and (orientation: landscape) {
        div#header {
            width: var(--mainWidth);
            border-bottom: 2px dotted black;
            margin-bottom: 30px;
            padding: 10px 0px 10px 0px;
        }
        div#header #navigation {
            text-align: left;
        }
        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 18px;
            font-weight: normal;
            margin-left: 12px;
            text-decoration: none;
            text-transform: lowercase;
        }
        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }
        body {
            font-family: "EB-Garamond";
            color: black;
            font-size:18px;
            margin: 0px auto 0px auto;
            justify-content:center;
            width: 100%;
            height: 100%;
            list-style-type: none;
        }
        div#footer {
            border-top: solid 2px black;
            color: #555;
            font-size: 13.5px;
            margin-top: 30px;
            padding: 12px 0px 12px 0px;
            text-align: right;
        }
        h1 {
            font-size: 27px;
        }
        h2 {
            font-size: 27px;
        }
        h3 {
            font-size: 22.3264px;
        }  
        h4 {
            font-size: 20.08px;
        }
        div.sourceCode {
            font-size: 16px;
        }
        code {
            font-size: 16px;
        }
        .back {
            font-size: 14px;    
        }
        div.info {
            font-size: 14px;
        }
}


@media (orientation: portrait) { 
        html * {
        max-height:1000000px;
        }
        div#content {
            width: 100%;
            margin: 0 auto 0 auto;
        }
        body {
            font-family: "EB-Garamond";
            color: black;
            font-size: 49px;
            margin: 0 auto 0 auto;
            width: auto;
            list-style-type: none;
        }
        div#header {
            border-bottom: 6px dotted black;
            width: 61%;
            margin: 100px auto 62px auto;
            padding: 10px 0 20px 0;
        }
        div#header #navigation {
            text-align: left;
        }
        div#header #navigation a {
            font-family: "EB-Garamond";
            color: black;
            font-size: 49px;
            font-weight: normal;
            margin-left: 12px;
            text-decoration: none;
            text-transform: lowercase;
        }
        div#header #navigation a:hover{
            color: #000000;
            text-decoration: underline;
        }  
        div#footer {
            border-top: solid 2px black;
            color: #555;
            width: 92%;
            font-size: 30px;
            margin: 30px auto 0 auto;
            padding: 12px 0px 12px 0px;
            text-align: right;
        }
        h1 {
            font-size: 59px;
        }
        h2 {
            font-size: 53.64px;
        }
        h3 { 
            font-size: 51.15px;
        }
        div.sourceCode {
            font-size: 43.5px;
        }
        code {
            font-size: 43.5px;
        }
        .flex-item-side {
            width: 2.3%;
        }
        .flex-item-main {
            width: 92%;
            margin-left: 0;
        }
        .back img {
            padding-left: 1.5em;
        }
        .back .caption {
            padding-bottom: 3.3em;
            padding-left: 1em;
        }
        div.info {
            font-size: 40px;
        }
}
