<div class="row">
	<div class="archive_title_col">
		<h1 style="margin-top:0;margin-bottom:1%;">$title$</h1>
		Check out my <a href="researchNotes.html"><b>research journal</b></a> and
		<a href="bookNotes.html"><b>book notes</b></a>.
	</div>
	<div class="archive_tags_col">
		<h4 style="font-weight:normal;display:inline"><i>Tags:</i></h4>
		$for(tagsList)$
			<a style="font-size:0.75em;font-style:italic" href="tags/posts/$tag$.html">$tag$</a>$sep$,
		$endfor$
	</div>
</div>
<div class="row">
	<div class="one_third_col">
		<h3 style="margin-bottom: 0.5em;"><u>Engineering</u></h3>
		<div style="border-right: 0px solid black; margin-right: 1em;">
			<ul>
				$for(engPosts)$
					<li>
						<a href="$url$">$title$</a> <br> 
						<span style="margin-left:0em; font-size:0.88em;"> - <i>$date$</i> </span>
					</li>
				$endfor$
			</ul>
		</div>
	</div>
	<div class="one_third_col">
		<h3 style="margin-bottom:0.5em;"><u>Mathematics</u></h3>
		<div style="border-right: 0px solid black; margin-right: 1em;">
			<ul>
				$for(mathPosts)$
					<li>
						<a href="$url$">$title$</a> <br> 
						<span style="margin-left:0em; font-size:0.88em;"> - <i>$date$</i> </span>
					</li>
				$endfor$
			</ul>
		</div>
	</div>
	<div class="one_third_col">
		<h3 style="margin-bottom:0.5em;"><u>Miscellaneous</u></h3>
		<ul>
			$for(miscPosts)$
				<li>
					<a href="$url$">$title$</a> <br> 
					<span style="margin-left:0em; font-size:0.88em;"> - <i>$date$</i> </span>
				</li>
			$endfor$
		</ul>
	</div>
</div>
