<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="google-site-verification" content="_80XeoFjcnfXZI18dveBZq5VBZK4YJKZ2BFax07Is1w" />
        <title>Paul Lutkus - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="icon"  href="../images/ditto_resize.png">       
    </head>
    <div class="flex-container">
        <div class="flex-item_side">
            <div class="inner-wrapper_side">
                <div class="flex-title">flex title1</div>
                <div class="flex-body">center here</div>
                <div class="flex-body-more">more text</div>
            </div>
        </div>
        <div class="flex-item_main">
            <div class="inner-wrapper_main">
                <div class="flex-title">flex title1 longer title</div>
                <div class="flex-img">
                    <img src='http://dummyimage.com/40x40/000/ffffff&text=hi'>
                </div>
                <div class="flex-body">$title$</div>
                <div class="flex-body-more">$body$</div>
            </div>
        </div>
    </div>


</html>
